.movieWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}

.movieTitle {
  width: 100%;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movieSummary {
  width: 100%;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}